// About
#ABOUT {
  margin-top: 5rem;

  opacity: 0;
  transform: translateY(100px);
  transition: all 1s;

  .about_title {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    img {
      width: 30px;
      height: 30px;

      transform: rotate(0deg);
      animation: titleIconAnimation 3s 1s ease-in-out infinite;
    }

    h2 {
      font-size: 2rem;
      font-weight: 600;
      font-family: var(--mainfont-playfairDisplay);
    }
  }

  .about_info {
    margin-top: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 2rem;

    img {
      width: 400px;
      height: 400px;
    }

    div {
      h2 {
        padding-bottom: 2rem;
      }

      p {
        padding: 2rem 0;
        border-top: 2px solid var(--black300);
        border-bottom: 2px solid var(--black300);

        b {
          color: var(--subColorSkyBlue);
        }
      }

      ul {
        padding-top: 2rem;

        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }
  }
}

#ABOUT.active {
  transform: translateY(0px);
  opacity: 1;
}

// 애니메이션
@keyframes titleIconAnimation {
  0%{
    transform: rotate(0deg);
  }
  10%{
    transform: rotate(45deg);
  }
  20%{
    transform: rotate(-45deg);
  }
  30%{
    transform: rotate(30deg);
  }
  40%{
    transform: rotate(-30deg);
  }
  50%{
    transform: rotate(10deg);
  }
  60%{
    transform: rotate(-10deg);
  }
  70%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

// About 반응형
@media only screen and (max-width: 900px) {
  #ABOUT {
    .about_info {
      img {
        width: 300px;
        height: 300px;
      }

      div {
        h2 {
          padding-bottom: 1rem;
        }

        p {
          padding: 1rem 0;
        }

        ul {
          padding-top: 1rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  #ABOUT {
    .about_title {
      justify-content: center;
    }

    .about_info {
      flex-direction: column;
      align-items: center;

      img {
        width: 200px;
        height: 200px;
      }

      div {
        text-align: center;
      }
    }
  }
}
